:root {
    --primary-color: yellow
}

.MuiInput-underline::before {
    border-color: black !important;
}

.MuiInput-underline:hover::before {
    border-color: var(--primary-color) !important;
}

.MuiInput-underline::after {
    border-color: var(--primary-color) !important;
}

.MuiSelect-icon {
    color: var(--primary-color) !important
}